In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("C:\ICT Assignments\StudentsPerformance.csv")

In [4]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

In [5]:
# 1. Find out how many males and females participated in the test.

In [6]:
df['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [7]:
# 2. What do you think about the students' parental level of education?

In [10]:
df["parental level of education"].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

Only about 60 parents have completed their masters degree and 120 have completed their bachelor's degree. Rest all have only a minimum level of education.

In [13]:
# 3.a) Who scores the most on average for math, reading and writing based on Gender.

In [21]:
df.groupby('gender')['math score', 'reading score', 'writing score'].mean()

C:\Users\Madhav\AppData\Local\Temp\ipykernel_18148\492457581.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('gender')['math score', 'reading score', 'writing score'].mean()

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

In [22]:
# 3.b) Who scores the most on average for math, reading and writing based on Test preparation course

In [23]:
df.groupby('test preparation course')['math score', 'reading score', 'writing score'].mean()

C:\Users\Madhav\AppData\Local\Temp\ipykernel_18148\2779450568.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('test preparation course')['math score', 'reading score', 'writing score'].mean()

                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

In [25]:
# 4.a) What do you think about the scoring variation for math, reading and writing based on Gender.

In [30]:
df.groupby('gender')['math score', 'reading score', 'writing score'].var()

C:\Users\Madhav\AppData\Local\Temp\ipykernel_18148\1065902955.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('gender')['math score', 'reading score', 'writing score'].var()

        math score  reading score  writing score
gender
female  256.958593     207.677438     220.369327
male    211.889097     200.211010     202.413924

In [27]:
# 4.b) What do you think about the scoring variation for math, reading and writing based on test preparation course

In [28]:
df.groupby('test preparation course')['math score', 'reading score', 'writing score'].()

C:\Users\Madhav\AppData\Local\Temp\ipykernel_18148\2996590876.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('test preparation course')['math score', 'reading score', 'writing score'].var()

                         math score  reading score  writing score
test preparation course
completed                210.884027     183.265864     175.202612
none                     246.668662     213.419851     226.251739